<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>read.html</title>
</head>
<body>
    <h1>Strata Issue Tracker</h1>
    <form method="POST" action="http://127.0.0.1:5000/create">
        <p><input type="submit" value="Raise New Issue"></p>
    </form>
    <table>
        <tr>
            <th>Issue Number</th>
            <th align="left">Description</th>
        </tr>
        {% for x in results_dict %}
            <tr>
                <td> {{ x }} </td>
                <td> {{ results_dict[x] }} </td>
                <td> <a href="{{ url_for('edit') }}">Edit</a> </td>
            </tr>
        {% endfor %}
    </table>
<!--    <p>Issue Number     Description</p>
    {% for x in results_dict %}
    <p> {{ x }}     {{ results_dict[x] }} </p>
    {% endfor %} -->
</body>
</html>